html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  background: #B9EAD9;
  color: black;
  padding: 20px;
  width: 100%;
  margin: 0;
  word-break: break-word;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
}



.home{
  background: #B9EAD9;
  padding: 0px;
}

img {
    max-width:50%;
    height:auto;
    align-content: center;
}


.attending{
  position: relative;
  max-width: 50%;
  padding-top: 20%;
  margin-left: auto;
  margin-right: auto;

}


.about{
  position: relative;
  max-width: 50%;
  padding-top: 20%;
  margin-left: auto;
  margin-right: auto;

}



.spacer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35%;
  max-width:20%;
}

.page-links{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40%;
  max-width:50%;
  font-size: 40px;
}

.session-links{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  max-width:40%;
  font-size: 40px;
}

.description{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  max-width:50%;
}

.poster{
  width: 100%;
  display: block;
  position: relative;
  padding-top: 20%;
  margin-left: auto;
  margin-right: auto;

}

.wires1{
  position: fixed;
  width: 100%;
  display: block;
  right: -3%;
  top: 80%;
  max-width: 20%;
}

.wires2{
  position: fixed;
  width: 100%;
  display: block;
  left: -5%;
  top: 80%;
  max-width: 40%;
}

.wires3{
  position: fixed;
  width: 100%;
  display: block;
  left: -6%;
  top: 20%;
  max-width: 50%;
}

.wires4{
  position: fixed;
  width: 100%;
  display: block;
  left: -10%;
  top: 1%;
  max-width: 40%;
}

.wires5{
  position: fixed;
  width: 100%;
  display: block;
  right: -10%;
  top: 15%;
  max-width: 30%;
}

.wires6{
  position: fixed;
  width: 100%;
  display: block;
  right: -5%;
  top: -18%;
  max-width: 40%;
}

.wires7{
  position: fixed;
  width: 100%;
  display: block;
  right: -1%;
  top: -1%;
  max-width: 50%;
}

.wires8{
  position: fixed;
  width: 100%;
  display: block;
  left: -1%;
  top: 80%;
  max-width: 50%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


body.sessions{
  margin: 10px;
  width: auto;
}


.title {
  background-color: black;
  padding: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #D359B4;
}

.text {
  background: white;
  border: solid;
  padding: 5px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited */
a:visited {
  color: black;
}

/* hovering */
a:hover {
  color: #D359B4;
}

/*** UTILITIES ***/
.text-center {
  text-align: center;
}
