html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  background: #B9EAD9;
  color: black;
  padding: 20px;
  padding-bottom: 10vh;
  width: 100%;
  margin: 0;
  word-break: break-word;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

img {
    max-width:50%;
    height:auto;
    align-content: center;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited */
a:visited {
  color: black;
}

/* hovering */
a:hover {
  color: #D359B4;
}

@media (max-width: 767.98px) {
  h1 {
    text-align: center;
  }
}

/*** UTILITIES ***/
.text-center {
  text-align: center;
}

.list-unstyled {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.list-unstyled li {
  display: block;
  margin: 5px;
  line-height: 100%;
}

/*** BLAH ***/
.home{
  background: #B9EAD9;
  padding: 0px;
}

.main {
  position: relative;
  margin: 0 auto;
  padding-top: 20%;
  max-width: 50%;
}

@media (max-width: 767.98px) {
  .main {
    max-width: none;
    padding: 20% 10%;
  }
}

.page-links {
  padding: 65vh 0 35vh;
  font-size: 36px;
}

.page-links li {
  display: inline-block;
}

@media (max-width: 767.98px) {
  .page-links li {
    display: block;
    margin-top: 20px;
  }
}

.sponsors li {
  font-size: 16px;
  margin-bottom: 10px;
}

.session-links{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  max-width: 40%;
  font-size: 40px;
  line-height: 26px;
}

@media (max-width: 767.98px) {
  .session-links {
    max-width: none;
    font-size: 24px;
    line-height: 120%;
  }
}

.description{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  max-width:50%;
}

.poster{
  width: 100%;
  display: block;
  position: relative;
  padding-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.wires1{
  position: fixed;
  width: 100%;
  display: block;
  right: -3%;
  bottom: -10px;
  max-width: 20%;
}

.wires2{
  position: fixed;
  width: 100%;
  display: block;
  left: -5%;
  bottom: 1%;
  max-width: 40%;
}

.wires3{
  position: fixed;
  width: 100%;
  display: block;
  left: -6%;
  top: 20%;
  max-width: 50%;
  z-index: -1;
}

.wires4{
  position: fixed;
  width: 100%;
  display: block;
  left: -10%;
  top: 1%;
  max-width: 40%;
}

.wires5{
  position: fixed;
  width: 100%;
  display: block;
  right: -10%;
  top: 15%;
  max-width: 30%;
}

.wires6{
  position: fixed;
  width: 100%;
  display: block;
  right: -5%;
  top: -18%;
  max-width: 40%;
}

.wires7{
  position: fixed;
  width: 100%;
  display: block;
  right: -1%;
  top: -1%;
  max-width: 50%;
}

.wires8{
  position: fixed;
  width: 100%;
  display: block;
  left: -1%;
  top: 80%;
  max-width: 50%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.sessions{
  margin: 10px;
  width: auto;
}

.title {
  background-color: black;
  padding: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #D359B4;
}

.text {
  background: white;
  border: solid;
  padding: 5px;
}
